<div class="p-6 flex flex-col items-center">
    @if (searchType() !== null) {
    <form action="" class="w-full flex flex-col items-center gap-6" (submit)="onSubmit($event)">
        <div class="flex flex-col w-[30%] gap-2">
            <label for="entry" class="text-center font-semibold text-xl">{{ searchType() === "id" ? "Digite o ID do pokemon para iniciar a busca" : "Digite o nome do pokemon para iniciar a busca"}}</label>
            <input type="text" class="p-2 border rounded-lg bg-white" id="entry" [formField]="pokemonForm">
        </div>
        <button type="submit" class="px-4 py-2 rounded-lg bg-black text-white hover:scale-105 transition-all ease-in-out duration-100 cursor-pointer hover:bg-gray-900">Buscar</button>

        @if (searchPokemonData(); as pokemon) {
        <div class="grid grid-cols-7 bg-[#cc5e5e] py-4  min-h-[50%] rounded-2xl gap-8">
            <div class="col-span-2 p-4 flex justify-center">
                <img [src]="(pokemon.imageUrl)" alt="pokemonImg" class="bg-white rounded-xl h-100 w-100">
            </div>
            <div class="col-span-3 my-4 p-6 bg-red-100 rounded-2xl text-2xl flex-col flex justify-between">
                <p class="flex items-center gap-2"><span class="font-medium bg-red-700 text-white p-1 rounded-lg">ID: </span> {{ pokemon.id }}</p>
                <p class="flex items-center gap-2"><span class="font-medium bg-red-700 text-white p-1 rounded-lg">Nome: </span> {{ pokemon.name }}</p>
                <p class="flex items-center gap-2"><span class="font-medium bg-red-700 text-white p-1 rounded-lg">Peso: </span> {{ pokemon.weight / 10 }}Kg</p>
                <p class="flex items-center gap-2"><span class="font-medium bg-red-700 text-white p-1 rounded-lg">Altura: </span> {{ pokemon.height / 10 }}m</p>
            </div>
            <div class="col-span-2 flex flex-col justify-between items-end m-8">
                <button
                    type="button"
                    class="p-4 px-12 bg-blue-700 text-white rounded-lg flex hover:scale-105 transition-all ease-in-out duration-100 cursor-pointer hover:bg-blue-600 disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:scale-100"
                    (click)="goToPreviousPokemon()"
                    [disabled]="pokemon.id <= 1"
                >
                    <svg lucideArrowLeft></svg>
                    Anterior
                </button>
                <button
                    type="button"
                    class="p-4 px-8 bg-green-700 text-white rounded-lg flex hover:scale-105 transition-all ease-in-out duration-100 cursor-pointer hover:bg-green-600"
                    (click)="goToNextPokemon()"
                >
                    Ver proximo
                    <svg lucideArrowRight></svg>
                </button>
            </div>
        </div>
        }
    </form>
    }
    @else {
    <div class="space-y-28 flex flex-col min-h-[80vh] justify-center">
        <div class="flex flex-col items-center justify-center gap-8">
            <h2 class="font-bold text-8xl text-center">Bem vindo <br> à <span class="text-[#b22200]">PokeSearch</span>
            </h2>
            <p class="text-xl bg-green-300 p-3 px-4 rounded-2xl">Escolha uma opção para começar a busca</p>
        </div>
        <div class="flex gap-8 justify-between">
            <button
                class="py-6 px-10 bg-blue-200 border border-blue-400 hover:bg-blue-300 rounded-2xl font-medium flex items-center gap-2 hover:scale-105 transition-all ease-in-out duration-100 cursor-pointer"
                (click)="searchType.set('id')"
            >
                <span class="text-white bg-blue-800 rounded-full flex items-center justify-center h-8 w-8">123</span>
                Buscar por Número
            </button>
            <button
                class="py-6 px-10 bg-red-200 border border-red-400 rounded-2xl font-medium flex gap-2 items-center hover:scale-105 transition-all ease-in-out duration-100 cursor-pointer hover:bg-red-300"
                (click)="searchType.set('name')"
            >
                <svg lucideSearch class="rounded-full bg-red-600 p-2 text-white" size="32px"></svg>
                Buscar por Nome
            </button>
        </div>
    </div>
    }
</div>